.navbar {
    background-color: #0bddf4;
}
.navbar-brand {
    padding: 0px;
}
.navbar-brand {
    height: 60px;
    padding: 8px;
    width: auto;
}
.footer{
    padding-top: 14px;
}
body{
    padding-top: 75px;
}
.navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    text-decoration: underline;
    color: white;
}
@media screen and (max-width: 780px) {
    .navbar-brand {
        padding: 0px 0px 0px 15px;
    }
}

}
